:root{
    background-color: #f5f5dc;
}
.container{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

img {
    object-fit: cover;
    position: relative;
}

.image {
    position: relative;
    top: -2px;
}

.about-text{
    width: 400px;
    padding-left: 50px;
    font-size: 16px;
    float: left;
    flex-shrink: 0;
}

@media screen and (max-width: 960px) {
    
    img {
        max-height: 500px;
        padding-left: 20px;
    }
    .container{
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;
    }
    .about-text{
        padding-top: 20px;
        padding-right: 20px;
    }
}