.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.title{
    font-size: 20px;
    margin-bottom: 5px;
}

.form-title{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    gap: 20px;
}

.input-class{
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.login-btn{
    padding: 10px;
    border: none;
    cursor: pointer;
}

.account-question{
    font-size: 12px;
    text-align: center;
}